.DS_Store
.idea
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

tt/*
*.png
*.svg
*.gtkw

module_test/**/.old
module_test/**/sim_build
module_test/**/__pycache__
module_test/**/*.xml
module_test/**/*.vcd

**/obj_dir
**/__pycache__

fpga/**/*.jou
fpga/**/*.log
fpga/**/*.log
fpga/**/*.txt
fpga/**/*.bit
fpga/**/*.bin
fpga/build
fpga/**/*.xpr

fpga/.Xil

**/.old
**/tmp